*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.container{
    position: absolute;
    width: 100%;
    top: 50%;                       
    /* left: 50%;   */
}
.stars{
    font-size: 40px;
    margin: 30px 0px;
}
.active{
    color: gold;

}
.container_selected{
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
}